<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问//配置连接字符串所需要的信息，配置文件，一旦用户名密码发生变化，有的话干嘛，没有的话关闭？？
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <connectionStrings>
      <add name ="AccessConnectionString"
           connectionString =" Provider = Microsoft.ACE.OLEDB.12.0;Data Source ="
          providerName =" System.Data.OleDb"/>
      <add name ="Access_Path"
           connectionString ="~/App_Data/users.accdb"/>
    </connectionStrings>

</configuration>
